Repository Moamin-AbuEwaida/architecture-starter-HYF-Group-1, pull requests merged in 2021-09, with the labels that each got.

#7 Backlog
  client/assets/README.md
  client/src/data-access/README.md
  planning/README.md
  planning/backlog.md
  planning/communication-plan.md
Labels: documentation

#9 Development strategy
  planning/development-strategy.md
Labels: documentation

#45 Development strategy
  planning/development-strategy.md
Labels: documentation

#48 Welcome page
  .markdownlint.jsonc
  client/styles/index.css
  index.html
  planning/development-strategy.md
Labels: HTML, CSS

#8 questions_for_quiz
  planning/README.md
  planning/backlog.md
  planning/questions.md
Labels: documentation

#50 Fixing modules
  package-lock.json
Labels: bug

#47 Pushing the questions array to Data.js
  client/styles/index.css
  data/quiz.json
  index.html
  package-lock.json
Labels: Data

#51 PR QuestionsPage - HTML
  questions.html
Labels: HTML

#54 adding the result bar section
  client/styles/index.css
  questions.html
Labels: HTML, CSS

#53 Questions page
  client/src/data-access/dependency-graph.svg
  client/styles/index.css
  package-lock.json
Labels: CSS

#55 Adding the BGColor to the hover of the answer-box
  client/styles/index.css
Labels: CSS

#56 structure and style for next button
  client/styles/index.css
  index.html
  questions.html
Labels: HTML, CSS
